<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: aqua;
    }

    .img {
        display: inline-block;
    }

    img {
        border-radius: 50%;
        display: inline-block;
    }
</style>

<body><center>
    <div class="img">
        <img src="Pardeep_Narwal.png" alt="" width="210" height="210">
        <img src="virat.1111.jpg" alt="" width="220" height="220">
        <img src="mira_bai_chanu.jpg" alt="" width="220" height="220">
        <img src="Lionel-Messi.jpg" alt="" width="220" height="220">
    </div></center>
    <!-- <div><img src="Lionel-Messi.jpg" alt="" width="220" height="220"></div> -->
    <center>
        <h1>CELEBRITIES FACE DETECTION</h1>
        <br>
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <input type="file" name="img" id=""><br>
            <br>

            <button type="submit">predict</button>
        </form>
    </center>

    <center>
        <h1>predicted = {{data1}}</h1>
        <h2>Actual = {{data2}}</h2>
    </center>

    
</body>
</html>